<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Umami-MRNN Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">Umami-MRNN Demo</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/skywingwing/tfVer">SOURCE CODE(GitHub)</a></li>
            </ul>
        </nav>
        <h2>What is Umami-MRNN</h2>
        <p>
            umami-MRNN is a deep learning based method to predict umami peptides using combinations of features calculated from the peptide sequence.
        </p><br>
        <h3>Upload Fasta File</h3>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
        <h3>Predictions:</h3>
        {{data}}
    </body>
</html>
